.aboutContentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    width: 100%;

    .titleContainer {
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 { 
            font-size: 35px;
            padding-bottom: 0.5rem;
            color: rgb(174, 174, 11);
        }
    }

    .cardContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        
        .cardRow {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 90%;

            .card {
                margin: 1.5rem;
                padding: 0;
                width: 20rem;
                height: 20rem;
                border-radius: 25px;
                perspective: 1000px;

                .card-inner:hover {
                    transform: rotateY(180deg);
                }    

                .card-inner { //needed to psotiion front and back side
                    position: relative;
                    width: 100%;
                    height: 100%;
                    transition: 0.8s;
                    transform-style: preserve-3d;

                    .card-front, .card-back { //posotion front and back side
                        position: absolute;
                        display: flex;
                        width: 100%;
                        height: 100%;
                        border-radius: 25px;
                        -webkit-backface-visibility: hidden;
                        backface-visibility: hidden;
                    }
    
                    .card-front {
                        background-color: rgb(7, 100, 7);
                        color: rgb(174, 174, 11);
                        align-items: center;
                        text-align: center; //figure out why i need this
                        justify-content: center;
                        font-size: 2.5rem;
                    }
    
                    .card-back {
                        background-color: rgb(174, 174, 11);
                        transform: rotateY(180deg);
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;

                        ul {
                            list-style: none;
                        }
                    }
                }

                .howListItems { //MUST MAKE SO it scrolls when small
                    position: sticky;
                }
            }
        }
    }
}